.open-inapp-header,
.open-inapp-bottom {
  height: 2.5rem;
  width: 100%;
}
.open-inapp-header .content,
.open-inapp-bottom .content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  padding: 0 0.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  vertical-align: middle;
  position: relative;
  border-bottom: 0.025rem solid #E2E7F1;
  background-color: #fff;
}
.open-inapp-header.fixed .content,
.open-inapp-bottom.fixed .content {
  position: fixed;
  left: 0;
  top: 0;
}
.open-inapp-header img,
.open-inapp-bottom img {
  position: absolute;
  top: 0.85rem;
  left: 0.5rem;
  height: 0.75rem;
}
.open-inapp-header .btn,
.open-inapp-bottom .btn {
  float: right;
  margin-top: 0.5rem;
  height: 1.5rem;
  padding: 0 0.75rem;
  background: #007EFF;
  color: #fff;
  border-radius: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.open-inapp-bottom .content {
  border-top: 0.025rem solid #E2E7F1;
  border-bottom: none;
}
.open-inapp-bottom.fixed .content {
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
}
